<% include ../partials/header %>

<form style=" width: 50vh; margin: 7% auto; display: block;" action="/travels/<%= travel._id %>?_method=PUT"
    method="POST">
    <h1 style="text-align: center"><%= travel.name %> paylaşımını düzenle</h1>
    <div class="form-group">
        <label for="exampleInputEmail1">Başlık</label>
        <input class="form-control" type="text" name="travel[name]" value="<%= travel.name %>">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Bir resim adresi giriniz</label>
        <input class="form-control" type="text" name="travel[image]" value="<%= travel.image %>">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Açıklama</label>

        <textarea class="form-control" type="text" name="travel[description]" rows="4"
            cols="50"><%= travel.description %></textarea>
    </div>

    <div class=" form-group">
        <button class="btn btn-lg btn-primary btn-block" style="margin-top:50px">Gönder</button>
    </div>
</form>
<% include ../partials/footer %>