<% include ../partials/header %>

<div class="container">
    <h1>This is the show page</h1>

    <p><%= travel.name %></p>

    <img src="<%= travel.image %>" alt="">

    <p><%= travel.description %></p>
    <p><em>Submitted By : <%= travel.author.username %> </em></p>
    <p>
        <a class="btn btn-warning" href="/travels/<%= travel._id %>/edit">Edit</a>
        <a class="btn btn-success" href="/travels/<%= travel._id %>/comments/new">Add New Comment</a>
    </p>

    <% travel.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author.username %></strong> - <%= comment.text %>
    </p>


    <% }) %>

</div>


<% include ../partials/footer %>