<% include ../partials/header %>

<div class="container">
    <h1>This is the show page</h1>

    <p><%= travel.name %></p>

    <img src="<%= travel.image %>" alt="">

    <p><%= travel.description %></p>

    <% travel.comments.forEach(function(comment){ %>
    <p><strong><%= comment.author %></strong> - <%= comment.text %></p>
    <% }) %>

</div>


<% include ../partials/footer %>