<% include ../partials/header %>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card p-2 mb-4">
                <img style="height: 80vh; display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;" class="img-responsive py-4" src=" <%= travel.image %>">
                <div class="caption-full">
                    <h4><a><%=travel.name%></a></h4>
                    <p><%= travel.description %></p>
                    <p>
                        <em>Ekleyen : <%= travel.author.username %></em>
                    </p>
                </div>
                <% if(currentUser && travel.author.id && travel.author.id.equals(currentUser._id)){ %>
                <a class="btn btn-xs btn-warning" href="/travels/<%= travel._id %>/edit">Düzenle</a>
                <form id="delete-form" action="/travels/<%= travel._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-xs btn-danger">Sil</button>
                </form>
                <% }%>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/travels/<%= travel._id %>/comments/new">Yorum ekle</a>
                </div>
                <hr>
                <div class="container">
                    <h2>Yorumlar</h2>
                    <hr>
                    <% travel.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-10">
                            <p><strong><%= comment.author.username %></strong> : <%= comment.text %>
                            </p>
                        </div>
                        <div class="col-md-2 float-right">
                            <% if(currentUser && comment.author.id && comment.author.id.equals(currentUser._id)){ %>

                            <a class="btn btn-sm btn-warning"
                                href="/travels/<%=travel._id %>/comments/<%=comment._id %>/edit">Düzenle</a>
                            <form id="delete-form"
                                action="/travels/<%=travel._id %>/comments/<%=comment._id %>?_method=DELETE"
                                method="POST">
                                <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>